/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* End CSS Reset */

:root {
    --border-radius: 4px;
}

input[type='radio'] {
    display: none;
}

body {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    gap: 20px;
    margin: 10px 25px;
}

footer {
    text-align: center;
    font-size: 0.7rem;
}

.main {
    display: flex;
    flex-flow: column nowrap;
    border-collapse: collapse;
    box-sizing: border-box;
    font-size: 0.9rem;
    gap: 20px;
    white-space: nowrap;

    .search {
        padding: 10px 10px 0 10px;
        margin: 0 auto;
    }

    &[data-unit='imperial'] {
        .metric {
            display: none;
        }
    }

    &[data-unit='metric'] {
        .imperial {
            display: none;
        }
    }

    form.tempSwitch {
        display: inline;

        input:checked + label {
            background: red;
        }
    }
}

.board {
    display: grid;
    grid-template: auto 1fr / 1fr;
    gap: 7px;

    .cards {
        display: grid;
        grid-template: 1fr / repeat(3, 1fr);
        gap: 7px;
    }

    .card {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        border: 1px solid black;
        border-radius: var(--border-radius);
        padding: 5px;
        gap: 5px;

        .icon {
            height: 65px;
            width: auto;
        }
    }
}

.display {
    border: 1px solid black;
    border-radius: var(--border-radius);
    padding: 10px 5px;

    .description {
        text-align: center;
    }

    .line {
        display: grid;
        grid-template: 1fr / auto auto 1fr;
        justify-content: center;
        align-items: center;
        gap: 10px;
        min-height: 30px;

        .icon {
            height: 30px;
            width: auto;
        }

        .info {
            justify-self: flex-end;
        }
    }
}

.overview {
    .content {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        text-align: center;
    }

    .icon {
        img {
            height: 100px;
            width: 100px;
        }
    }

    .title {
        text-align: right;
    }
}
